.navigation {
    margin: 80px 0 80px 0;
    .nav-links {
        @include clearfix;
    }
    .nav-previous {
        float: left;
    }
    .nav-next {
        float: right;
    }
    a {
        font-family: $primary-font-sc; 
        display: inline-block;
        color: $fill;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.15s ease-in-out;
        text-shadow: 0px 0px 1px rgba(0,0,0,0);
        &:hover {
            text-shadow: 1px 1px 1px rgba(0,0,0,0.33);
            cursor: pointer;
        }
    }
    &:before {
        display: block;
        content: '';
        border-top: 1px solid $fill;
        width: 100%;
        margin: 40px auto 40px;
    }
    &:after {
        display: block;
        content: '';
        border-top: 1px solid $fill;
        width: 100%;
        margin: 40px auto 40px;
    }
}

.paging-navigation {
    margin: 80px 0 40px 0;
    &:after {
        display: none;
    }
}