//@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Playfair+Display+SC:900|Raleway:600,400,300);

@import "mono";
@import "variables";
@import "mixins";

@import "border-box";
@import "header";
@import "post";
@import "comments";
@import "footer";
@import "navigation";
@import "disqus";
@import "notfound";
@import "search";

html {
    width: 100%;
}

body {
    margin: 0 auto;
    font-family: $secondary-font;
  
    width: 100%;
    max-width: 840px;
    padding: 0 20px;
}

