$fill: #222;
$subtle: #666;

$light: #FFE7C5;
$bright: #B89730;

$icon-size: 30px;

$primary-font: 'Playfair Display';
$primary-font-sc: 'Playfair Display SC';
$secondary-font: 'Raleway';

$small-breakpoint: 500px;