@import url(http://fonts.googleapis.com/css?family=Playfair+Display:900|Playfair+Display+SC:900|Raleway:600,400,300);
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("fonts/mono/MonoSocialIconsFont-1.10.eot");
  src: url("fonts/mono/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("fonts/mono/MonoSocialIconsFont-1.10.woff") format("woff"), url("fonts/mono/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("fonts/mono/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("fonts/mono/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body > header {
  margin: 80px 0; }
  body > header a {
    text-decoration: none; }
  body > header svg {
    width: 800px;
    font-family: 'Playfair Display SC';
    font-weight: 900;
    font-size: 12px;
    fill: #222222; }
    body > header svg .tiny {
      font-size: 4px; }
  body > header .social {
    margin-top: 8px;
    text-align: right;
    cursor: default; }
    body > header .social a {
      text-decoration: none; }
  body > header .icon {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    line-height: 30px;
    font-size: 22.5px;
    font-weight: bold;
    margin-left: 4px;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 1px #ccc; }
    body > header .icon .outer-shape, body > header .icon .inner-shape {
      transition: all 0.15s ease-in-out; }
    body > header .icon .outer-shape {
      fill: #222222; }
    body > header .icon .inner-shape {
      fill: white; }
    body > header .icon:hover .outer-shape {
      fill: #b89730; }
  body > header #searchbar {
    border-radius: 4px;
    display: inline-block;
    height: 30px;
    vertical-align: top;
    box-shadow: 0 0 5px white;
    transition: all 0.25s ease-in-out;
    border: 1px solid white;
    width: 0;
    outline: none;
    padding-left: 4px;
    font-family: "Raleway";
    font-weight: 600;
    color: #b89730;
    font-size: 20px; }
    body > header #searchbar::-webkit-input-placeholder {
      color: #ffe7c5; }
    body > header #searchbar:-moz-placeholder {
      color: #ffe7c5;
      opacity: 1; }
    body > header #searchbar::-moz-placeholder {
      color: #ffe7c5;
      opacity: 1; }
    body > header #searchbar:-ms-input-placeholder {
      color: #ffe7c5; }

.post:before {
  display: block;
  content: '';
  border-top: 1px solid #222222;
  width: 50%;
  margin: 80px auto 0; }
.post > header h1 {
  margin: 50px 0 0 0; }
.post > header h1 a {
  text-decoration: none;
  display: block;
  color: #222222;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 60px;
  transition: all 0.15s ease-in-out; }
  .post > header h1 a:hover {
    color: #b89730;
    cursor: pointer; }
.post > header .date {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 13px;
  margin-bottom: 40px; }
.post p {
  color: #222222;
  text-align: justify;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8; }
.post a {
  color: #222222;
  transition: all 0.15s ease-in-out; }
  .post a:hover {
    color: #b89730; }
.post img {
  max-width: 100%;
  height: auto; }
.post figure {
  margin: 0;
  max-width: 100%; }
  .post figure .wp-caption-text {
    text-align: center;
    font-size: 13px;
    color: #666666; }

.comments {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 60px;
  color: #222222;
  margin: 20px 0 60px; }

footer {
  text-align: center; }
  footer:before {
    display: block;
    content: '';
    border-top: 1px solid #222222;
    width: 100%;
    margin: 10px auto 0; }
  footer a {
    font-family: 'Playfair Display SC';
    display: inline-block;
    margin: 40px 40px;
    color: #222222;
    text-decoration: none;
    font-size: 20px; }

.navigation {
  margin: 80px 0 80px 0; }
  .navigation .nav-links:after {
    content: "";
    display: table;
    clear: both; }
  .navigation .nav-previous {
    float: left; }
  .navigation .nav-next {
    float: right; }
  .navigation a {
    font-family: 'Playfair Display SC';
    display: inline-block;
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.15s ease-in-out; }
    .navigation a:hover {
      color: #b89730;
      cursor: pointer; }
  .navigation:before {
    display: block;
    content: '';
    border-top: 1px solid #222222;
    width: 50%;
    margin: 40px auto 40px; }
  .navigation:after {
    display: block;
    content: '';
    border-top: 1px solid #222222;
    width: 50%;
    margin: 40px auto 40px; }

#disqus_thread a {
  color: #b89730; }

html {
  width: 100%; }

body {
  margin: 0 auto;
  font-family: "Raleway";
  width: 100%;
  max-width: 800px; }
